{% extends "base.html" %}
{% block content %}

<section class="container">
<div class="container">
  <div class="row">
    
    <div class="col-xs-12 col-sm-12">
      <div class="box">
            <h1><a href="{{ SITEURL }}/gdc-wiki">GDC Sessions</a></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-xs-12 col-sm-6">
      <div class="box">
        <h1><a href="{{ SITEURL }}/max-wiki">Max</a></h1>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="box">
        <h1><a href="{{ SITEURL }}/maya">Maya</a></h1>
      </div>
    </div>
    
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-xs-12 col-sm-6">
      <div class="box">
        <h1><a href="{{ SITEURL }}/pages/under_construction">Blender</a></h1>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="box">
        <h1><a href="{{ SITEURL }}/houdini">Houdini</a></h1>
      </div>
    </div>
    
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-xs-12 col-sm-6">
      <div class="box">
        <h1><a href="{{ SITEURL }}/unity">Unity</a></h1>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="box">
        <h1><a href="{{ SITEURL }}/unreal">Unreal</a></h1>
      </div>
    </div>
    
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="box">
        <h1><a href="{{ SITEURL }}/Python3">Python3</a></h1>
      </div>
    </div>
    
    
    <div class="col-xs-12 col-sm-4">
      <div class="box">
        <h1><a href="{{ SITEURL }}/pages/under_construction">Coding</a></h1>
      </div>
    </div>
    
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-xs-12 col-sm-4">
      <div class="box">
        <h1><a href="{{ SITEURL }}/pages/under_construction">Tutorials</a></h1>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8">
      <div class="box">
        <h1><a href="{{ SITEURL }}/pages/under_construction">Coding</a></h1>
      </div>
    </div>
    
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="box">
        <h1><a href="{{ SITEURL }}/pages/under_construction">Rigging</a></h1>
      </div>
    </div>
    
    
    <div class="col-xs-12 col-sm-4">
      <div class="box">
        <h1><a href="{{ SITEURL }}/pages/under_construction">Tips</a></h1>
      </div>
    </div>
    
  </div>
</div>

<div class="container">
    <div class="row">
      
      <div class="col-xs-12 col-sm-4">
        <div class="box">
            <h1><a href="{{ SITEURL }}/pages/under_construction">Shaders</a></h1>
        </div>
      </div>
      
      
      <div class="col-xs-12 col-sm-8">
        <div class="box">
          <h1><a href="{{ SITEURL }}/pages/under_construction">VFX</a></h1>
        </div>
      </div>
      
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="box">
        <h1><a href="{{ SITEURL }}/pages/under_construction">Pipelines</a></h1>
      </div>
    </div>
    
    
    <div class="col-xs-12 col-sm-4">
      <div class="box">
        <h1><a href="{{ SITEURL }}/pages/under_construction">Tools</a></h1>
      </div>
    </div>
    
  </div>
</div>


</section>

{% endblock content %}
